.scrollTextContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.scrollTextContent {
  white-space: nowrap;
  font-size: 8rem;
  animation: scroll-horizontal linear infinite;
  position: absolute;
  top: 50%;
}

@keyframes scroll-horizontal {
  0% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}
